/* Task 3 */
.image {
  display: flex;
  width: 400px;
  height: 266px;
  border-radius: 10px;
}

#gallery {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* Task 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
